* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	background: rgb(250,202,26);
	background: linear-gradient(90deg, rgba(250,202,26,0.8942927512801996) 0%, rgba(255,97,0,0.8578781854538691) 100%);
}

h1 {
	text-align: center;
	color: #0aa9fa;
	-webkit-text-stroke: 1px white;
}

ul {
	list-style: none;
}

li {
	width: 100%;
}

label {
	font-size: 20px;
	font-weight: bold;
	color: #0aa9fa;
	padding-left: 5px;
	white-space: nowrap;
}

.wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 80px;
}

.sets {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-left: 30px;
	height: 500px;
}

.go {
	width: 120px;
	height: 40px;
	color: green;
	background-color: white;
	border: 2px solid green;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
	width: 100%;
}

input {
	width: 80px;
	height: 30px;
	font-size: 20px;
	border: 2px solid green;
	border-radius: 5px;
	padding: 10px;
}

#canvas {
	border: #00000000 solid 5px;
	border-radius: 5px;
}

.intro {
	width: 80%;
	margin: 50px auto;
	padding: 20px;
	border: 3px dashed white;
	border-radius: 10px;
	color: white;
	font-size: 20px;
}

.stress-check {
	display: flex;
	align-items: center;
	font-display: column;
}

#stress {
	width: 100px;
}

.stress_wrapper {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 5px;
	border: 2px solid green;
	padding: 20px;
	width: 100%;
}

.stress_header {
	display: block;
	text-align: center;
	padding: 10px;
	border: 1px solid green;
	border-radius: 5px;
	margin-bottom: 10px;
}

.stress_display {
	width: 100%;
	height: 150px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.stress_arrow {
	width: 100px;
	position: absolute;
	bottom: 20px;
	height: 5px;
	border-radius: 150px 45px 45px 150px / 45px 44px 44px 45px;
	background-color: red;
	transform: rotate(0deg) translate(-40px);
	transition: transform 2s;
}

.digit {
	position: absolute;
}

.digit:nth-child(1) {
	bottom: 11px;
	left: 5px;
}

.digit:nth-child(2) {
	bottom: 84px;
	left: 10px;
}

.digit:nth-child(3) {
	bottom: 115px;
	left: 80px;
}

.digit:nth-child(4) {
	bottom: 115px;
	right: 80px;
}

.digit:nth-child(5) {
	bottom: 84px;
	right: 10px;
}

.digit:nth-child(6) {
	bottom: 11px;
	right: 5px;
}

.graphics {
	background-color: #ffffff55;
	border: 3px solid green;
	border-radius: 30px;
	display: flex;
	justify-content: space-around;
}

.graphic1 {
	border: 2px solid black;
	margin: 10px;
	border-radius: 4px;
	padding: 20px;
}

.graphic_header {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

.graphic2 {
	border: 2px solid black;
	margin: 10px;
	border-radius: 4px;
	padding: 20px;
}

#graphic_ctx1 {
	border: 2px solid black;
	border-radius: 5px;
}

#graphic_ctx2 {
	border: 2px solid black;
	border-radius: 5px;
}